<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Painel de Controle</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div id="app" class="gridContainer">
    <header class="header top gridItem naoSelecionavel">
        <!--        <span id="btnMenu"><i class="material-icons">menu</i></span>-->
        <span>Painel de Controle</span>
    </header>
    <!--    <span id="overshadowed"></span>-->

    <main class="main gridItem">
        <!--        Tabs     -->
        <nav v-show="isLogado" class="navbar">
            <ul>
                <li id="btnListaDeProdutos" v-bind:class="{'ativo':tab==='produtos'}" @click="mostrarTab('produtos')">
                    Produtos
                </li>
                <li id="btnListaDePessoas" v-bind:class="{'ativo':tab==='produtos'}" @click="mostrarTab('produtos')">
                    Pessoas
                </li>
            </ul>

            <!--        Filtros     -->
            <div class="row">
                <div class="form-group">
                    <label for="select-filtos" class="col-form-label float-left">Filtrar por:</label>
                    <select id="select-filtos" v-model="filtroSelecionado" class="custom-select"
                            @change="limparSelect()">
                        <option value="">Selecione</option>
                        <option v-for="filtro in filtros" v-bind:value="filtro.valor">{{ filtro.nome }}</option>
                    </select>
                </div>
                <div class="form-group pl-2" v-show="filtroSelecionado">
                    <label v-show="filtroSelecionado==='preco'" for="produto-id" class="col-form-label  float-left">Preço
                        Minimo:</label>
                    <label v-show="filtroSelecionado==='descricao'" for="produto-id" class="col-form-label  float-left">Descrição:</label>
                    <input v-show="filtroSelecionado==='preco'" v-model="filtro1" type="number" class="form-control">
                    <input v-show="filtroSelecionado==='descricao'" v-model="filtro1" type="text" class="form-control">
                </div>
                <div v-show="filtroSelecionado==='preco'" class="form-group pl-2">
                    <label for="produto-id" class="col-form-label  float-left">Preço
                        Máximo:</label>
                    <input v-model="filtro2" type="number" class="form-control">
                </div>

                <div v-show="filtroSelecionado" class="form-group pl-2" style="display: inline-grid;">
                    <button class="btn btn-dark" style="place-self: end;" @click="filtrar()">Filtrar</button>
                </div>
            </div>
            <!--        Filtros     -->
        </nav>
        <!--        Tabs     -->

        <!--        Grid     -->
        <div v-show="isLogado" class="table-responsive">
            <table id="produtos" class="table table-hover table-sm " v-show="tab==='produtos'">
                <button id="btnAdd" class="btn add btn-success float-right" @click="adicionarItem()">
                    <i class="material-icons">add</i><span>Adicionar</span>
                </button>
                <thead>
                <tr>
                    <th colspan="2">Descrição</th>
                    <th colspan="2">Preço</th>
                    <th colspan="2">Estoque</th>
                    <th colspan="2">Idade Permitida</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="produto in orderBy(produtos,'descricao')">
                    <td colspan="2">{{ produto.descricao }}</td>
                    <td colspan="2">{{ produto.preco |formatarReal }}</td>
                    <td colspan="2">{{ produto.quantidadeEstoque }}</td>
                    <td colspan="2">{{ produto.idadePermitida }}</td>
                    <td>
                        <i class="material-icons btn btn-primary" @click="editarItem(produto)">edit</i>
                        <i class="material-icons btn btn-danger" @click="deletarItem(produto.id)">delete</i>
                    </td>
                </tr>
                </tbody>
            </table>

            <p id="msg-list-empty" class="text-center" v-show="produtos.length===0">Não há produtos cadastrados</p>
        </div>
        <!--        Grid     -->

        <!--        Tela de Login    -->
        <div v-show="!isLogado" id="tela-login" class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h2 class="text-danger">{{ msgErroLogin }}</h2><br>
                    <h2>Login</h2></div>

                <form id="form-login">
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuário">
                    <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha">
                    <input type="button" class="fadeIn fourth" value="Entrar" @click="login()">
                </form>
            </div>
        </div>
        <!--        Tela de Login    -->

        <!--        Loading    -->
        <div id="loading" class="row hide">
            <div class="spinner-border text-dark" role="status"></div>
        </div>
        <!--        Loading    -->

        <!--        Loading    -->

        <!--        Modal de Edição e Novo    -->
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal fade" id="modalProduto" tabindex="-1" role="dialog" aria-labelledby="modalProdutoLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title-add">{{ modalTitle }}</h5>
                            <button id="btnExitModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close" modal="modalProduto">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="formProduto" action="#" method="post"
                                  v-show="tab==='produtos'">
                                <div class="modal-img">
                                    <img id="imgProduto" src=""/>
                                </div>
                                <div class="form-group" id="idProduto" v-show="itemEditando.id">
                                    <label for="produto-id" class="col-form-label">Id:</label>
                                    <input type="number" class="form-control" id="produto-id"
                                           v-model="itemEditando.id" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="produto-nome" class="col-form-label">Descrição:</label>
                                    <input type="text" class="form-control" id="produto-nome" min="5" max="255"
                                           v-model="itemEditando.descricao">
                                </div>
                                <div class="form-group">
                                    <label for="produto-preco-compra" class="col-form-label">Preço compra</label>
                                    <input type="number" class="form-control" id="produto-preco-compra"
                                           v-model="itemEditando.precoCompra">
                                </div>
                                <div class="form-group">
                                    <label for="produto-preco-venda-fisica" class="col-form-label">Preço Venda (Pessoa
                                        Fisica):</label>
                                    <input type="number" class="form-control" id="produto-preco-venda-fisica"
                                           v-model="itemEditando.precoVendaFisica">
                                </div>
                                <div class="form-group">
                                    <label for="produto-preco-venda-juridica" class="col-form-label">Preço venda (Pessoa
                                        Jurídica):</label>
                                    <input type="number" class="form-control" id="produto-preco-venda-juridica"
                                           v-model="itemEditando.precoVendaJuridica">
                                </div>
                                <div class="form-group">
                                    <label for="produto-qtd" class="col-form-label">Quantidade:</label>
                                    <input type="number" class="form-control" id="produto-qtd"
                                           v-model="itemEditando.quantidadeEstoque">
                                </div>
                                <div class="form-group">
                                    <label for="produto-qtd" class="col-form-label">Idade Minima:</label>
                                    <input type="number" class="form-control" id="produto-idade-permitida"
                                           v-model="itemEditando.idadePermitida">
                                </div>
                            </form>
                            <form id="formCategoria" action="#" method="post" v-show="tab==='categorias'">
                                <div class="form-group" id="idCategoria" v-show="itemEditando.id">
                                    <label for="categoria-id" class="col-form-label">Id:</label>
                                    <input type="number" class="form-control" id="categoria-id"
                                           v-model="itemEditando.id" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="categoria-nome" class="col-form-label">Nome:</label>
                                    <input type="text" class="form-control" id="categoria-nome" min="5" max="255"
                                           v-model="itemEditando.nome">
                                </div>
                                <div class="form-group">
                                    <label for="categoria-tipo" class="col-form-label">Categoria:</label>
                                    <select class="form-control" id="categoria-tipo"
                                            v-model="itemEditando.tipoCategoria">
                                        <option>PRODUTO</option>
                                        <option>SERVICO</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="categoria-descricao" class="col-form-label">Descrição:</label>
                                    <textarea class="form-control" id="categoria-descricao"
                                              v-model="itemEditando.descricao"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btnCloseModal" type="button" class="btn btn-secondary" data-dismiss="modal"
                                    modal="modalProduto">
                                Close
                            </button>
                            <button id="btnSalvar" type="submit" class="btn btn-primary" @click="salvarItem">Salvar
                            </button>
                            <!--                            <button id="btnSalvarCategoria" type="submit" class="btn hide btn-primary">Salvar-->
                            <!--                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-backdrop" class="modal-backdrop fade" modal="modalProduto"></div>
        <!--        Modal de Edição e Novo    -->
    </main>
    <footer class="footer gridItem">
        <p>Easy buy 2020 &copy; Todos os direitos reservados</p>
    </footer>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue2-filters/dist/vue2-filters.min.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<script src="js/index.js"></script>
<script src="js/login.js"></script>
<script src="js/crud.js"></script>
<script src="js/admin.js"></script>
</body>
</html>